/*Universal*/
.bg-black{
	background: black;
}

.bg-grey {
	background: #DADADA;
}

/*ALTERAÇÃO FEITA PARA O RODAPE FICAR SEMPRE EM BAIXO*/
.site{
	min-height: 95vh
}

/*Editando a capa da pagina principal*/

.capa{
	height: 250px;
}



/*Editando menu*/
ul.navbar-nav  > li{
	padding-left: 50px;
	padding-right: 50px;
}

.active{
	border-bottom: 3px solid white;
}



/*Editando a imagem de cada artigo*/
.img-article{
	height: 350px;
}

.img-article-min{
	height: 200px;
}




/* Galery */

.galery__row{
	padding: 0 !important;
	margin: 0 !important;
}

.galery__row > div{
	padding: 0 !important;
	margin: 0 !important;
}

/*Login*/
/*
.bg-box{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #A9E2F3;

}
*/
.login{
	display: flex;
	justify-content: center;
	
}
.container-box{
	background: #FFFFFF;
	padding: 120px 0;
	margin: 50px 0;
	border-radius: 5px;
	padding: 150px;
}
.box{
	width: 300px;
}

.input-login{
	border: 0;
	background: none;
	display: black;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #DADADA;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: black;
	border-radius: 6px;
	transition: 0.25s;

}

.input-login{
	width: 100%;
	border-color: #566573;
}

.title-login{
	text-align: center;
	text-transform: uppercase;
	font-weight: bolder;
	font-family: Palatino;
}

.btn-container{
	display: flex;
	justify-content: center;
}

.box .btn-login{
	background: #FFF;
	border: 2px solid #28B463;
	font-weight: bold;
	text-transform: uppercase;
	transition: 0.25s;
	padding: 5px;
	border-radius: 6px;
	color: black;
	width: 60% !important;
	text-align: center;
}

.btn-login:hover{
	text-decoration: none;
	background: #28B463;
	color: white;
	width: 90% !important;
}