/*Universal*/
.bg-black{
	background: black;
}

/*ALTERAÇÃO FEITA PARA O RODAPE FICAR SEMPRE EM BAIXO*/
.site{
	min-height: 95vh
}

/*Editando a capa da pagina principal*/

.capa{
	height: 250px;
}



/*Editando menu*/
ul.navbar-nav  > li{
	padding-left: 50px;
	padding-right: 50px;
}

.active{
	border-bottom: 3px solid white;
}



/*Editando a imagem de cada artigo*/
.img-article{
	height: 350px;
}

.img-article-min{
	height: 200px;
}




/* Galery */

.galery__row{
	padding: 0 !important;
	margin: 0 !important;
}

.galery__row > div{
	padding: 0 !important;
	margin: 0 !important;
}

/*Login*/
/*
.bg-box{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #A9E2F3;

}
*/

.box{
	width: 500px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #FFFFFF;
	text-align: center;

}

.box h1{
	color: black;
	/*text-transform: uppercase;*/
	font-weight: 500;
	font-family: Palatino;
}

.box input[type = "text"], .box input[type= password]{
	border: 0;
	background: none;
	display: black;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #FE9A2E;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;

}

.box input[type = "text"], .box input[type= password]{
	width: 280px;
	border-color: #FE9A2E;
}

.box input[type = "submit"]{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border:2px solid #FE9A2E;
	padding: 14px 40px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;

}

.box input[type = "submit"]:hover{
	background: #2ecc71;
}